:root {
  --color-bg: #ffffff;
  --color-text: #0f0f0f;
  --color-gray: #606060;
  --color-border: #e3e3e3;
  --color-profile-border: #ffffff;
  --color-mic-bg: #f1f1f1;
  --color-subscribe: #cc0000;
  --color-description: #515151;
}
